<div class="container">
  <div class="card">
    <div class="card header" style="background-color:antiquewhite;">
      <h4><span class="badge bg-primary m-2 mt-3">Online Valve Inventory</span></h4>
    </div>
    <div class="card body">
      <accordion [closeOthers]="oneAtATime" [isAnimated]="true">
        <accordion-group heading="Motivation" [isOpen]="isFirstOpen">
          This application gives a real time overview of the available prosthetic
          heart valves in your hospital. It allows a cardiac surgeon to plan the operative procedure
          with the confidence that the intended prosthesis is really available.
          On the other hand it gives valve vendors a realtime overview of the
          location of their products. This enables them to intelligently supply
          the hospitals that they are working with.
        </accordion-group>
        <accordion-group heading="Powerpoint">
          Click the button to see a Online Valve Inventory powerpoint presentation: <button class="badge bg-success"
            (click)="showOviPPT()">Go to the powerpoint</button>
        </accordion-group>
        <accordion-group heading="Demo">
          <div>Use this username (demovendor) and password (password)</div>
          Click the button to see the application in action: <button class="badge bg-warning" (click)="showOviDemo()">Go
            to the demo</button>
        </accordion-group>
      </accordion>
    </div>
    <div class="card footer">

    </div>
  </div>
</div>