<div class="container">
  <div class="card">
    <div class="card header" style="background-color:antiquewhite;">
      <h4><span class="badge bg-primary m-2 mt-3">Contact</span></h4>
    </div>
    <div class="card body">
      <div class="row">
        <div class="col-sm-5">
          <div id="main" align="left" class="m-5">
            <div style="display:inline-block"><img src="../assets/images/harder.jpg" width="75%" height="75%"/></div>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="card m-5" >
            <div class="card header"><h4><span class="badge bg-secondary">Cardiacsurgery Software Developers</span></h4></div>
            <div class="card body">
              <div class="row">
               
                <div class="col-sm-4"><h5><span class="badge bg-primary">Almere-Haven</span></h5></div>
                <div class="col-sm-8"></div>
              </div>
              <div class="row">
                <div class="col-sm-4"><h5><span class="badge bg-primary">The Netherlands</span></h5></div>
                <div class="col-sm-8"></div>
              </div>
              <div class="row">
                <div class="col-sm-4"><h5><span class="badge bg-primary">email: marcelharder@protonmail.com</span></h5></div>
                <div class="col-sm-8"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card footer"></div>
  </div>
</div>