<div class="container">
  <div class="card">
    <div class="card header" style="background-color:antiquewhite;">
      <h4><span class="badge bg-primary m-2 mt-3">About Cardiacsurgery Software Developers</span></h4>
    </div>
    <div class="card body">
      <div class="row mt-5 mb-5">
        <div class="col-sm-6">
          <div class="card">
            <div class="card header"><h5><span class="badge bg-secondary">Yes, we have a mission too</span></h5></div>
            <div class="card body">
              <span class="m-2">Cardiac Software Developers is a small company that develops highly specialized medical software.
              We have a strong background in medical (Cardiac Surgical) practice and we enjoy making software
              that helps clinicians instead of just obstructing time tested and battle proven traditions.
              Join us in the struggle to get the software we deserve ...</span>
              </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card header"><h5><span class="badge bg-secondary">Credits</span></h5></div>
            <div class="card body"><span class="m-2">The surgical outcomes application was heavily inspired by dr. Gert Kootstra, a dutch cardiac surgeon in
              Breda, The Netherlands.<br/>
              A word of thanks goes to Bert Elberse of Fysicon Oss, The Netherlands.<br/>
              My friends and cardiac surgeon partners Dr. Abdullah Ashmeg and Dr. Andrew
              Allan should be admired for their patience in listening to me
              going on about "My Program"...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card footer">

    </div>
  </div>
</div>
